@import 'src/styles/index.scss';

.dropdown-container {
  position: relative;
}

.dropdown-header {
  padding: t-rem(30);
  padding-left: t-rem(20);
  border: 1px solid $maroon;
  border-radius: 4px;
  cursor: pointer;
  background-color: $maroon;
  border-radius: 15px;
  position: relative;
  font-size: t-rem(12);
  display: flex;
  justify-content: space-between;
  width: 250px;

  .isForums & {
    width: auto;
  }

  svg {
    width: t-rem(20);
    height: auto;
    rotate: 90deg;
    fill: $white;
    transition: rotate 0.3s ease;
  }

  &.open svg {
    rotate: 270deg;
  }
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow-y: auto;
  border: 1px solid $deep-red;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: $deep-red;
  z-index: 10;

  .isForums & {
    position: initial;
  }
}

.dropdown-option {
  padding: 20px 10px;
  cursor: pointer;
  color: $maroon;
  font-weight: bold;
  font-size: t-rem(14);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .isForums & {
    justify-content: flex-start;
    gap: 10px;
  }

  svg {
    width: 50px;
    height: auto;
    fill: $maroon;
  }
}

.dropdown-option:hover {
  background-color: $maroon;
  color: $white;
}
