@import 'src/styles/index.scss';

.card {
  text-align: center;

  .card__logo {
    fill: $profile-1;
  }

  &:nth-child(2n) {
    .card__logo {
      fill: $profile-2;
    }
  }

  &:nth-child(3n) {
    .card__logo {
      fill: $profile-3;
    }
  }
}

.card__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: t-rem(10);
}

.card__image {
  background-color: $highlight-color;
  padding: t-rem(10);
  width: t-rem(100);
  height: auto;

  @include bp-tablet {
    width: t-rem(120);
  }
}

.card__logo {
  width: t-rem(100);
  height: auto;

  @include bp-tablet {
    width: t-rem(120);
  }
}

.card__position {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.card__name {
  font-weight: 700;
}