@import 'src/styles/index.scss';

.admin-btns {
  position: absolute;
  top: t-rem(20);
  right: t-rem(10);
  z-index: 999;
}

.admin-btns__btn {
  padding: t-rem(5);
  border-radius: 100%;
  cursor: pointer;

  svg {
    width: t-rem(50);
    height: auto;
    stroke: $deep-red;
  }

  &:hover svg {
    stroke: $dark-red;
  }
}


.forum__item .admin-btns {
  top: 0;
  right: 0;
}


.forum__item .admin-btns__btn {
  svg {
    stroke: $maroon;
    width: t-rem(30);
  }

  &:hover svg {
    stroke: $dark-red;
  }
}