@import 'src/styles/index.scss';

.navigation {
  color: white;
  text-transform: uppercase;
  width: 100%;
  z-index: 1000;
  background-color: $maroon;
  transition: top 0.3s ease;
  position: relative;
}

.navigation.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: t-rem(17) t-rem(23);
  position: relative;

  @include bp-tablet {
    align-items: stretch;
  }
}

.navigation__content {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    width: t-rem(75);
    height: auto;

    @include bp-desktop {
      width: t-rem(120);
    }

    @include bp-xl-desktop {
      width: t-rem(140);
    }
  }

  h2 {
    font-size: t-rem(16);
    color: $highlight-color;

    @include bp-desktop {
      font-size: t-rem(24);
    }
  }
}

// MENU STYLING

.menu-icon {
  cursor: pointer;
  display: none;
}

.bar {
  width: 50px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.navigation__items {
  display: flex;
  list-style-type: none;
}

.navigation__item {
  a {
    position: relative;
    height: 100%;
    color: $white;
    text-decoration: none;

    span {
      font-size: t-rem(24);
      font-weight: bold;
    }

    @include bp-tablet {
      padding: 0 t-rem(20);
      display: flex;
      align-items: center;

      svg {
        width: t-rem(50);
      }
    }

    @include bp-desktop {
      padding: 0 t-rem(30);

      svg {
        width: t-rem(96);
      }
    }

    @include bp-xl-desktop {
      padding: 0 t-rem(60);
    }
  }

  a:hover,
  a.active {

   span {
    font-size: t-rem(26);
    color: $maroon;
   }

   svg {
    fill: $deep-red;
   }

   @include bp-tablet {

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: t-rem(10);
      bottom: t-rem(-17);
      left: 0;
      background-color: $deep-red;
      border-radius: 5px;
    }
   }
  }
}



.navigation__link--text {
  @include bp-tablet {
    display: none;
  }
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 639px) {
  .menu-icon {
    display: block;
  }

  .navigation__items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 112px;
    left: 0;
    background-color: $base-color;
    height: auto;
    width: calc(100% - t-rem(40));
    padding: t-rem(20);
  }

  .navigation__items.open {
    display: flex;
    height: calc(100vh - 112px);
    gap: 15px;
  }

  .navigation__item {
    margin: t-rem(10) t-rem(20);
  }

  .navigation__link--icon {
    display: none;
  }

  .menu-icon.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .menu-icon.open .bar {
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
}
