$base-color: #760808;
$black: #000;
$white: #fff;
$highlight-color: #FFDE59;
$highlight-color-2: #FFF4BF;

$profile-1: #FF3C34;
$profile-2: #FF5F3E;
$profile-3: #FF7F48;

$maroon: #520101;
$maroon-dark: #3a0303;
$deep-red: #7C0B0D;
$dark-red: #B10E0F;
$orange-red: #FF5F3E;
$yellow: #FFDE59;